.group-student-subject {
  width: 45%;
  background: white;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 1rem auto;
}
.header-student-subject {
  display: flex;
  padding: 0.8rem;
  background: #e2e2e2;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  border-radius: 6px;
}

.text-student-subject {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-bottom: 1rem;
}

.col-1,
.col-2,
.col-3 {
  flex: 1;
  text-align: center;
}

.col-1-header,
.col-2-header,
.col-3-header {
  flex: 1;
  text-align: center;
  cursor: pointer;
}

.body-student-subject {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  margin-top: 1rem;
  font-weight: 500;
}

.row-student-subject {
  display: flex;
  align-items: center;
  padding: 0.6rem;
  border-bottom: 1px solid #ddd;
  border-radius: 4px;
}

.actionSubject {
  display: flex;
  margin-top: 1rem;
  gap: 12px;
}

.registerSubject {
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0.4rem 1rem;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  border: 1px solid #007bff;
  color: #007bff;
  background: transparent;
}

.registerSubject:hover {
  background: #007bff;
  color: #fff;
}
.pagination-controls {
  margin-top: 1rem;
  display: flex;
  gap: 6px;
  justify-content: center;
}

.pagination-controls button {
  border: 1px solid #ccc;
  background: white;
  padding: 4px 8px;
  cursor: pointer;
}

.pagination-controls button.active {
  background: #007bff;
  color: white;
  font-weight: bold;
}

.pagination-controls button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
