<div class="group-subject-list" *ngIf="!isEdit">
  <h2>Danh sách môn học</h2>
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchTerm" (input)="applyFilter()" placeholder="Tìm kiếm môn học..." />
  </div>

  <div class="header-subject-list">
    <div class="col-1">STT</div>
    <div class="col-1-header" (click)="sortSubject('subCode')" (keydown)="sortSubject('subCode')">Mã môn học</div>
    <div class="col-2-header" (click)="sortSubject('subName')" (keydown)="sortSubject('subName')">Tên môn học</div>
    <div class="col-3-header" (click)="sortSubject('subNum')" (keydown)="sortSubject('subNum')">Số tiết</div>
    <div class="col-3-header" (click)="sortSubject('isRegistered')" (keydown)="sortSubject('isRegistered')">Action</div>
  </div>

  <div class="body-subject-list">
    @for (subject of subjects; track subject; let i = $index) {
    <div class="row-subject-list">
      <div class="col-1">{{(page - 1)*size + i +1}}</div>
      <div class="col-1">{{ subject.subCode }}</div>
      <div class="col-2">{{ subject.subName}}</div>
      <div class="col-3">{{ subject.subNum }}</div>
      <div class="col-3">
        <button type="button" class="editBtn" (click)="handleIsEdit(subject)" *ngIf="!isRegister">Sửa</button>
        <button type="button" class="deleteBtn" (click)="deleteSubject(subject.subCode, subject.subName)" *ngIf="!isRegister">Xóa</button>
        <button
          type="button"
          [disabled]="subject.isRegistered"
          class="registerBtn"
          (click)="!subject.isRegistered &&  handleRegisterSubject(subject.subCode,subject.subName)"
          *ngIf="roles.includes('USER') "
        >
          {{ subject.isRegistered ? ' Đã đăng ký' : 'Đăng ký' }}
        </button>
      </div>
    </div>
    }
  </div>
  <div class="cancelBtn-group">
    <button type="button" (click)="handleIsRegister()" class="cancelBtn" *ngIf="roles.includes('USER')">Hủy bỏ</button>
  </div>
  <div class="pagination-controls">
    <button (click)="prev()" [disabled]="page === 1">«</button>

    @for (p of pages(); track p) {
    <button (click)="goTo(p)" [class.active]="page === p">{{ p }}</button>
    }

    <button (click)="next()" [disabled]="page === totalPages">»</button>
  </div>
</div>

<div class="group-subject" *ngIf="isEdit && editingSubject">
  <div class="group-subject-edit">
    <div class="text-subject-edit">
      <div>Sửa môn học</div>
    </div>

    <div class="edit-row">
      <div>Mã môn học</div>
      <input type="text" [(ngModel)]="editingSubject.subCode" name="subCode" disabled />
    </div>

    <div class="edit-row">
      <div>Tên môn học</div>
      <input type="text" [(ngModel)]="editingSubject.subName" name="subName" required />
    </div>

    <div class="edit-row">
      <div>Số tiết</div>
      <input type="number" [(ngModel)]="editingSubject.subNum" name="subNum" />
    </div>

    <div class="actionSubject">
      <button class="editSubject" (click)="handleEditSubject()">Lưu</button>
      <button class="cancelEdit" (click)="isEdit=false">Hủy bỏ</button>
    </div>
  </div>
</div>
