.group-student-score {
  width: 60%;
  background: #fff;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 1rem auto;
}

.text-student-score {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-bottom: 1rem;
}

.header-student-score {
  display: flex;
  padding: 0.8rem;
  background: #e2e2e2;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  border-radius: 6px;
}

.col-1,
.col-2,
.col-3 {
  flex: 1;
  text-align: center;
  font-weight: 500;
}

.col-4 {
  flex: 1;
  display: flex;
  justify-content: center;
}

.body-student-score {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  margin-top: 1rem;
}

.row-student-score {
  display: flex;
  align-items: center;
  padding: 0.6rem;
  border-bottom: 1px solid #ddd;
  border-radius: 4px;
}

.row-student-score:hover {
  background: #f9f9f9;
}

.edit-student-score {
  border: 1px solid #007bff;
  color: #007bff;
  background: transparent;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0.4rem 1rem;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
}

.edit-student-score:hover {
  background: #007bff;
  color: #fff;
}

.group-edit-score {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.edit-score-box {
  width: 50%;
  background: #fff;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.text-edit-score {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 1.2rem;
  text-align: center;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 10px 0;
  font-size: 18px;
  gap: 14rem;
}

.info-row div:first-child {
  font-weight: 500;
  color: #555;
}

.info-row div {
  flex: 1;
  padding: 0.5rem;
}

.info-row input {
  flex: 1;
  padding: 0.5rem;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.actionScore {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 1rem;
}

.saveScore,
.cancelScore {
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0.4rem 1rem;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.saveScore {
  border: 1px solid #12c912;
  color: #12c912;
  background: transparent;
}

.saveScore:hover {
  background: #12c912;
  color: #fff;
}

.cancelScore {
  border: 1px solid #dc3545;
  color: #dc3545;
  background: transparent;
}

.cancelScore:hover {
  background: #dc3545;
  color: #fff;
}

.pagination-controls {
  margin-top: 1rem;
  display: flex;
  gap: 6px;
  justify-content: center;
}

.pagination-controls button {
  border: 1px solid #ccc;
  background: white;
  padding: 4px 8px;
  cursor: pointer;
}

.pagination-controls button.active {
  background: #007bff;
  color: white;
  font-weight: bold;
}

.pagination-controls button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
