<div class="group-student-score">
  <div class="header-student-score">
    <div class="col-1">Môn học</div>
    <div class="col-2">Điểm QT</div>
    <div class="col-3">Điểm TP</div>
    <div class="col-3">ACTION</div>
  </div>

  <div class="body-student-score">
    @for (score of studentScore; track score) {
    <div class="row-student-score">
      <div class="col-1">{{ score.subName }}</div>
      <div class="col-2">{{ score.processPoint}}</div>
      <div class="col-3">{{ score.componentPoint}}</div>
      <div class="col-4" (click)="handleShowEditScore(score)" (keydown.enter)="handleShowEditScore(score)">
        <div class="edit-student-score">Nhập điểm</div>
      </div>
    </div>
    }
  </div>
</div>
<div class="score-form" *ngIf="showEditScore">
  <h3>Nhập điểm</h3>

  <label class="input-score">
    Điểm quá trình:
    <input type="number" [(ngModel)]="processPoint" min="0" max="10" />
  </label>

  <label class="input-score">
    Điểm thành phần:
    <input type="number" [(ngModel)]="componentPoint" min="0" max="10" />
  </label>

  <button (click)="onUpdateScore()" class="btn-update-score">Nhập điểm</button>
</div>
