<div class="group-student-score">
  <div class="text-student-score">
    <div>Bảng điểm sinh viên: {{stuName}}</div>
  </div>

  <div class="header-student-score">
    <div class="col-1">STT</div>
    <div class="col-1-header" (click)="sortScore('subName')" (keydown)="sortScore('subName')">Môn học</div>
    <div class="col-2-header" (click)="sortScore('processPoint')" (keydown)="sortScore('processPoint')">Điểm QT</div>
    <div class="col-3-header" (click)="sortScore('componentPoint')" (keydown)="sortScore('componentPoint')">Điểm TP</div>
    <div class="col-4-header" (click)="sortScore('summaryScore')" (keydown)="sortScore('summaryScore')">Điểm tổng kết</div>
    <div class="col-5">Kết quả</div>
    <div *ngIf="roles.includes('ADMIN')" class="col-4">ACTION</div>
  </div>

  <div class="body-student-score">
    @for (score of studentScore; track score; let i = $index) {
    <div class="row-student-score">
      <div class="col-1">{{(page - 1)*size + i +1}}</div>
      <div class="col-1">{{ score.subName }}</div>
      <div class="col-2">{{ score.processPoint}}</div>
      <div class="col-3">{{ score.componentPoint}}</div>
      <div class="col-4">{{ score.summaryScore }}</div>
      <div
        class="col-4"
        [ngClass]="{
              'pass': score.passSub === 'Đỗ',
              'fail': score.passSub === 'Trượt',
            }"
      >
        {{ score.passSub }}
      </div>
      <div *ngIf="roles.includes('ADMIN')" class="col-5">
        <div class="edit-student-score" (click)="handleShowEditScore(score)" (keydown.enter)="handleShowEditScore(score)">Nhập điểm</div>
      </div>
    </div>
    }
  </div>
</div>
<div class="pagination-controls">
  <button (click)="prev()" [disabled]="page === 1">«</button>

  @for (p of pages(); track p) {
  <button (click)="goTo(p)" [class.active]="page === p">{{ p }}</button>
  }

  <button (click)="next()" [disabled]="page === totalPages">»</button>
</div>
<div class="group-edit-score" *ngIf="showEditScore">
  <div class="edit-score-box">
    <div class="text-edit-score">Nhập điểm</div>
    <div class="text-edit-score">{{selectedScore.subName}}</div>

    <div class="info-row">
      <div>Điểm quá trình</div>
      <input type="number" [(ngModel)]="processPoint" min="0" max="10" />
    </div>

    <div class="info-row">
      <div>Điểm thành phần</div>
      <input type="number" [(ngModel)]="componentPoint" min="0" max="10" />
    </div>

    <div class="actionScore">
      <div class="saveScore" (click)="onUpdateScore()" (keydown)="onUpdateScore()">Lưu</div>
      <div class="cancelScore" (click)="showEditScore=false" (keydown)="showEditScore=false">Hủy bỏ</div>
    </div>
  </div>
</div>
