.group-student {
  display: flex;
  gap: 30px;
  width: 100%;
  align-items: stretch;
  margin-left: 100px;
}

.group-student-info {
  width: 40%;
  background: rgb(182, 178, 178);
  padding: 1rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.text-student-info {
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 1rem;
  text-align: center;
}

.group-student-actions {
  width: 15%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h2 {
  font-weight: 500;
  text-align: center;
}

.info-row {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 20px;
  padding: 8px 0;
  font-size: 18px;
}

.info-row div:first-child {
  font-weight: bold;
}

.seeSubject,
.seeScore {
  flex: 1;
  background: rebeccapurple;
  color: white;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seeSubject:hover,
.seeScore:hover {
  background: indigo;
}

.group-action {
  margin: 20px 100px;
}
