<div class="group-student">
  <div class="group-student-info">
    <div class="text-student-info">Thông tin cá nhân</div>
    <div *ngIf="studentInfo">
      <div class="info-row">
        <div>Mã sinh viên</div>
        <input type="text" [(ngModel)]="studentInfo.stuCode" disabled />
      </div>

      <div class="info-row">
        <div>Họ và tên</div>
        <input type="text" [(ngModel)]="studentInfo.stuName" [disabled]="!editMode" />
      </div>

      <div class="info-row">
        <div>Giới tính</div>
        <input type="text" [(ngModel)]="studentInfo.gender" [disabled]="!editMode" />
      </div>

      <div class="info-row">
        <div>Ngày sinh</div>
        <input type="text" [(ngModel)]="studentInfo.birth" [disabled]="!editMode" />
      </div>

      <div class="info-row">
        <div>Lớp</div>
        <input type="text" [(ngModel)]="studentInfo.classR" [disabled]="!editMode" />
      </div>

      <div class="info-row">
        <div>Khóa</div>
        <input type="text" [(ngModel)]="studentInfo.course" [disabled]="!editMode" />
      </div>
      <div class="actionStudent">
        <div class="editStudent" *ngIf="!editMode" (click)="editMode = true" (keydown.enter)="editMode=true">Sửa thông tin</div>
        <div class="saveStudent" *ngIf="editMode" (click)="handleSaveStudent()" (keydown.enter)="handleSaveStudent()">Lưu</div>
        <div class="cancelStudent" *ngIf="editMode" (click)="editMode = false" (keydown.enter)="editMode=false">Hủy bỏ</div>
        <div
          class="changePassStudent"
          *ngIf="!changePassMode && !editMode"
          (click)="changePassMode = true"
          (keydown.enter)="changePassMode=true"
        >
          Đổi mật khẩu
        </div>
        <div
          class="cancelStudent"
          *ngIf="!editMode && roles.includes('ADMIN')"
          (click)="handleBackList()"
          (keydown.enter)="handleBackList()"
        >
          Quay lại
        </div>
        <div
          class="deleteStudent"
          *ngIf="!editMode && roles.includes('ADMIN')"
          (click)="deleteStudent(studentInfo.stuCode, studentInfo.stuName)"
          (keydown.enter)="deleteStudent(studentInfo.stuCode, studentInfo.stuName)"
        >
          Xóa sinh viên
        </div>
      </div>
    </div>
  </div>
</div>

<div class="group-change-password-container" *ngIf="changePassMode">
  <div class="group-change-password">
    <div class="info-row">
      <div>Mật khẩu cũ</div>
      <input type="text" [(ngModel)]="oldPassword" />
    </div>
    <div class="info-row">
      <div>Mật khẩu mới</div>
      <input type="text" [(ngModel)]="newPassword" />
    </div>
    <div class="info-row">
      <div>Nhập lại mật khẩu</div>
      <input type="text" [(ngModel)]="confirmPassword" />
    </div>
    <div class="actionPassword">
      <div class="savePassword" (click)="changePassStudent()" (keydown.enter)="changePassStudent()">Lưu</div>
      <div class="cancelPassword" (click)="changePassMode = false" (keydown.enter)="changePassMode=false">Hủy bỏ</div>
    </div>
  </div>
</div>
