<div class="group-student">
  <div class="group-student-info">
    <div class="text-student-info">
      <div>Thông tin cá nhân</div>
    </div>

    <div *ngIf="studentInfo">
      <div class="info-row">
        <div>Mã sinh viên</div>
        <div>{{studentInfo.stuCode}}</div>
      </div>

      <div class="info-row">
        <div>Họ và tên</div>
        <div>{{studentInfo.stuName}}</div>
      </div>

      <div class="info-row">
        <div>Giới tính</div>
        <div>{{studentInfo.gender}}</div>
      </div>

      <div class="info-row">
        <div>Ngày sinh</div>
        <div>{{studentInfo.birth}}</div>
      </div>

      <div class="info-row">
        <div>Lớp</div>
        <div>{{studentInfo.classR}}</div>
      </div>

      <div class="info-row">
        <div>Khóa</div>
        <div>{{studentInfo.course}}</div>
      </div>
    </div>
  </div>

  <div class="group-student-actions">
    <div class="seeSubject" (click)="handleShowSubject()" (keydown.enter)="handleShowSubject()">Xem môn học</div>
    <div class="seeScore" (click)="handleShowScore()" (keydown.enter)="handleShowScore()">Xem điểm</div>
  </div>
</div>

<div class="group-action">
  <app-student-subject *ngIf="showSubject"></app-student-subject>
  <app-student-score *ngIf="showScore"></app-student-score>
  <app-student-result *ngIf="showResult"></app-student-result>
</div>
