<div class="group-student-list">
  <h2>Danh sách sinh viên</h2>
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchTerm" (input)="applyFilter()" placeholder="Tìm kiếm sinh viên..." />
  </div>
  <div class="header-student-list">
    <div class="col-1">STT</div>
    <div class="col-1-header" (click)="sortStudent('stuCode')" (keydown)="sortStudent('stuCode')">Mã SV</div>
    <div class="col-2-header" (click)="sortStudent('stuName')" (keydown)="sortStudent('stuName')">Tên SV</div>
    <div class="col-3"></div>
  </div>

  <div class="body-student-list">
    @for (student of students; track student; let i = $index) {
    <div class="row-student-list">
      <div class="col-1">{{(page - 1)*size + i +1}}</div>
      <div class="col-1">{{ student.stuCode }}</div>
      <div class="col-2">{{ student.stuName}}</div>
      <div class="col-3" [ngSwitch]="viewMode">
        <a [routerLink]="['/studentInfo', student.stuCode]" *ngSwitchCase="'info'">Xem thông tin</a>
        <a [routerLink]="['/'+student.stuCode+'/subject']" *ngSwitchCase="'subject'">Xem môn học</a>
        <a [routerLink]="['/'+student.stuCode+'/score']" *ngSwitchCase="'score'">Xem điểm</a>
      </div>
    </div>
    }
  </div>

  <div class="pagination-controls">
    <button (click)="prev()" [disabled]="page === 1">«</button>

    @for (p of pages(); track p) {
    <button (click)="goTo(p)" [class.active]="page === p">{{ p }}</button>
    }

    <button (click)="next()" [disabled]="page === totalPages">»</button>
  </div>
</div>
<div class="actionExport" [ngSwitch]="viewMode">
  <div class="exportPdf" *ngSwitchCase="'info'" (click)="exportPdf()" (keydown)="exportPdf()">Xuất PDF</div>
</div>
