.group-header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgb(0, 0, 0, 0.15) 1px 1px 10px 0px;
  padding: 0.5rem 2rem;
  background: linear-gradient(to right, #0b110b, #283328);
}
.header-first {
  display: flex;
  align-items: center;
}
.header-show-list {
  font-size: 24px;
  padding-left: 5rem;
}
.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #283328, #0b110b);
  color: white;
  height: 50px;
}

a {
  text-decoration: none;
  color: inherit;
}
