<div class="layout">
  <!-- Header -->
  <header class="group-header">
    <div class="header-first">
      <h1 class="header-title">
        <a [routerLink]="['/home']">QLSV</a>
      </h1>
    </div>

    <div class="group-navigation">
      <div class="log-out" (click)="handleIsDropdown()" (keydown)="handleIsDropdown()">
        CHEZ
        <div class="dropdown" *ngIf="isDropdown">
          <button type="button" (click)="logout()">Đăng xuất</button>
        </div>
      </div>
    </div>
  </header>

  <!-- Sidebar -->
  <aside class="sidebar">
    <nav class="nav">
      <a [routerLink]="['/home']" routerLinkActive="active">Trang chủ</a>
      <a
        [routerLink]="['/studentList']"
        [queryParams]="{ view: 'info' }"
        routerLinkActive="active"
        *ngIf="roles.includes('ADMIN')"
        (click)="setViewMode('info')"
      >
        Danh sách sinh viên</a
      >
      <a [routerLink]="['/create']" routerLinkActive="active" *ngIf="roles.includes('ADMIN')">Thêm sinh viên</a>
      <a [routerLink]="['/studentInfo', stuCode]" routerLinkActive="active" *ngIf="roles.includes('USER')">Thông tin cá nhân</a>

      <a
        [routerLink]="['/subject/list']"
        [queryParams]="{ view: 'subject' }"
        routerLinkActive="active"
        (click)="setViewMode('subject')"
        *ngIf="roles.includes('ADMIN')"
      >
        Danh sách môn học
      </a>
      <a [routerLink]="['/subject/create']" routerLinkActive="active" *ngIf="roles.includes('ADMIN')">Thêm môn học</a>
      <a
        [routerLink]="['/studentList']"
        [queryParams]="{ view: 'score' }"
        routerLinkActive="active"
        (click)="setViewMode('score')"
        *ngIf="roles.includes('ADMIN')"
      >
        Bảng điểm
      </a>

      <a [routerLink]="['/' + stuCode + '/subject']" routerLinkActive="active" *ngIf="roles.includes('USER')"> Môn học</a>
      <a [routerLink]="['/' + stuCode + '/score']" routerLinkActive="active" *ngIf="roles.includes('USER')"> Bảng điểm</a>
    </nav>
  </aside>

  <!-- Nội dung động -->
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
